<table>
  <thead>
    <tr>
      <td>Nombre</td>
      <td>Descripcion</td>
      <td>Categoria</td>
      <td>Precio</td>
      <td>Stock</td>
    </tr>
  </thead>
  <tbody>
    {{#each products}}
      <tr>
        <td>{{this.title}}</td>
        <td>{{this.description}}</td>
        <td>{{this.category}}</td>
        <td>{{this.price}}</td>
        <td>{{this.stock}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>